<h1>Creditos</h1>

<p>Esta practica ha sido modificada por Susana Aparici Godoy.</p>
<p><a href="https://github.com/sussaparici/quiz_2017">https://github.com/sussaparici/quiz_2017</a>

<img src="/images/fotosusana.jpg">