<h1>Ayuda</h1>

<h3>¿Que es un Quiz?</h3>

<p>Un quiz es un tipo de juego de mente, concurso o competencia de preguntas en el cual los jugadores intentan responder de forma correcta una serie de preguntas.</p>

<h3>¿Como se responde?</h3>

<p>En la seccion preguntas, pinchar en cada pregunta y escribir la respuesta en la cajita de respuesta. Despues pinchar en el boton enviar.</p>

<h3>Objetivo del Portal</h3>

<p>Crear los juegos interactivos que desees.</p>